
 /* @media (min-width: 992px) {  } */
 *{
     padding: 1%; 
      margin: 1%; 
 }

 
#target{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: maroon;
    border-style: groove;
}

body{
    background-image: url("/img/bodybg.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:larger;
}





